@import "960";

$logo_color: rgba(0, 0, 255, 1);

@mixin system-width {
  @extend .grid_8, .prefix_2;
}

body {
  .wrapper { }

  .contents { @include system-width; }

  .header {
    @extend .container_12;
    h1 {
      font: {
        size: 300%;
        weight: bold;
      }
      a { text-decoration: none; }
    }
  }

  .main {
    @extend .container_12;
    .message { @include system-width; }

    .content {
      margin-bottom: 10px;
      .rating {
        .value { float: left; }
        .star {
          background-size: contain;
          background-image: image-url('star.png');
        }
        .star_empty {
          background-size: contain;
          background-image: image-url('star_empty.png');
        }
      }
    }

    dt {
      float: left;
      margin-right: 10px;
    }

    dd { font-weight: bold; }
  }
}
